.dotcms-header {
  background-color: black;
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1em 2em;
  flex-direction: column;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}
