.dotcms-header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1em 2em;
  flex-direction: row;
  align-items: center;
  height: 60px;


  @media only screen and (max-width: 768px) {
    align-items: flex-start;
    flex-direction: column;
    min-height: 60px;
    height: auto;
  }
}
